div.slogin-clear {
    clear: both;
}

.jcomments-slogin-buttons span {
    background: url(../images/socials_sprite.png) no-repeat;
    height: 32px;
    width: 32px;
    display: block;
}

.jcomments-slogin-buttons a,
.jcomments-slogin-buttons a:hover {
    border: 1px solid #c0c0c0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-decoration: none;
    float: left;
}

.jcomments-slogin-buttons a {
    display: block;
    width: 31px;
    padding: 3px 5px 3px 5px;
    margin: 5px 5px 0 0;
}

.jcomments-slogin-buttons a:hover {
    background: #f4f3f2;
}

.jcomments-slogin-buttons .googleslogin {
    background-position: -3px -5px;
}

.jcomments-slogin-buttons .odnoklassnikislogin {
    background-position: -43px -5px;
}

.jcomments-slogin-buttons .vkontakteslogin {
    background-position: -3px -45px;
}

.jcomments-slogin-buttons .facebookslogin {
    background-position: -43px -45px;
}

.jcomments-slogin-buttons .mailslogin {
    background-position: -3px -85px;
}

.jcomments-slogin-buttons .twitterslogin {
    background-position: -43px -85px;
}

.jcomments-slogin-buttons .yandexslogin {
    background-position: -3px -125px;
}

.jcomments-slogin-buttons .linkedinslogin {
    background-position: -43px -125px;
}

.jcomments-slogin-buttons .uloginslogin {
    background-position: -43px -165px;
}
.jcomments-slogin-buttons .liveslogin {
    background-position: -3px -165px;
}