/* ANY CSS FOR ALL WIDTHS GOES HERE
----------------------------------------------------------- */

#s5_map_canvas img { max-width:none !important;}



@media screen and (max-width: 1325px){


	.carouselContainer {
		display:none;}	
		
		
	.jdGallery .slideInfoZone h2 {
		font-size: 2.2em !important;
		height: 200px;
		line-height: 37px;
		padding: 60px !important;
		width: 200px;}	
		
		
	.jdGallery .slideInfoZone p {
		bottom: -241px !important;
		font-size: .9em !important;
		height: 80px;
		left: 277px !important;
		line-height: 16px;
		padding: 34px 30px 30px !important;
		width: 80px;}		
		
		
	.jdGallery .slideInfoZone {
		bottom: 191px !important;	}
		

}


@media screen and (max-width: 1200px){

	#s5_nav li a {
		font-size:1em;}	
		
}		



@media screen and (max-width: 1010px){

	#s5_social_wrap {
		display:none;}	

}


/* ALL WIDTHS UNDER 970PX
----------------------------------------------------------- */

@media screen and (max-width: 970px){

	/* DEFAULT
	----------------- */

	.s5_wrap {
	width:96% !important;
	}
	
	.s5_is_display, .s5_is_slide {
	position:relative !important;
	}
	
	.s5_is_slide {
	height:auto !important;
	}
	
	#fontControls {
	display:none;
	}
	
	/* CUSTOM
	----------------- */
	
	#s5_nav li {
		padding-right:6px;}
	
	#s5_header_menuright {
		padding-left:0px;}
	
	.slideInfoZone {
		display:none;}
		
	#s5_nav li a {
		font-size:1em;}

		
	/* PRICE TABLE
	----------------- */
	
	
	.s5_pricetable_column {
		margin-bottom:45px;
		float:none;}
		
	.s5_pricetable_column.recommended {
		margin-top:0px;}
		
	.s5_pricetable_7 .s5_pricetable_column { width:100%;}
	.s5_pricetable_6 .s5_pricetable_column { width:100%;}
	.s5_pricetable_5 .s5_pricetable_column { width:100%;}
	.s5_pricetable_4 .s5_pricetable_column {	width:100%;}
	.s5_pricetable_3 .s5_pricetable_column {	width:100%;}
	.s5_pricetable_2 .s5_pricetable_column {	width:100%;}		
			
		
	
}


/* TABLET PORTRAIT MODE CSS
----------------------------------------------------------- */

@media screen and (min-width:580px) and (max-width: 970px){

	
	/* CUSTOM
	----------------- */
	

	
}


/* TABLET PORTRAIT MODE CSS - SMALLER TABLETS
----------------------------------------------------------- */

@media screen and (max-width: 750px){

	/* CUSTOM
	----------------- */
	
	#s5_button_frame ul li {
		text-align:center;
		float: none !important;}

	#s5_button_frame {
		height: auto !important;}
		
		
		#s5_header_area1, #s5_header_menuright {
		background:#252525 !important;}	

}


/* MOBILE LAYOUT CSS
----------------------------------------------------------- */

@media screen and (max-width: 579px){

	/* DEFAULT
	----------------- */

	#s5_right_column_wrap_inner .s5_float_left, #s5_left_column_wrap_inner .s5_float_left {
	float:none;
	}

	#s5_columns_wrap_inner {
	width:100%;
	}

	#s5_center_column_wrap {
	width:100%;
	left:100%;
	}

	#s5_left_column_wrap {
	left:0%;
	}
	
	#s5_left_top_wrap, #s5_left_column_wrap, #s5_left_inset_wrap, #s5_left_wrap, #s5_left_bottom_wrap, #s5_right_top_wrap, #s5_right_column_wrap, #s5_right_inset_wrap, #s5_right_wrap, #s5_right_bottom_wrap, #s5_top_row1 .s5_float_left, #s5_top_row2 .s5_float_left, #s5_top_row3 .s5_float_left, #s5_above_columns_inner .s5_float_left, #s5_middle_top .s5_float_left , #s5_middle_bottom .s5_float_left, #s5_below_columns_inner .s5_float_left, #s5_bottom_row1 .s5_float_left, #s5_bottom_row2, .s5_float_left, #s5_bottom_row3 .s5_float_left, #s5_above_body .s5_float_left, #s5_below_body .s5_float_left {
	width:100% !important;
	}
	
	#s5_center_column_wrap_inner {
	margin:0px !important;
	}
	
	#s5_left_column_wrap {
	margin-right:0px !important;
	}
	
	#s5_right_column_wrap {
	margin-left:0px !important;
	}
	
	.items-row .item {
	width:100% !important;
	padding-left:0px !important;
	padding-right:0px !important;
	margin-right:0px !important;
	margin-left:0px !important;
	}
	
	/* CUSTOM
	----------------- */
	
	#s5_header_menuright {
		display:none;}
		
	.module_round_box-lightgray .s5_mod_h3_outer h3 {
		line-height: 60px;}
		
	.jdGallery a.left, .jdGallery a.right {
		display:none;}
		
	#s5_logo {
		margin-top: 4px;}
		
	

}


/* CUSTOM SIZES
----------------------------------------------------------- */






/* S5 BOX
----------------------------------------------------------- */

@media screen and (max-width: 970px){

	#colorbox {
	width:50% !important;
	height:auto !important;
	}
	
	#cboxWrapper {
	width:100% !important;
	}
	
	#cboxContent, #cboxLoadedContent {
	width:100% !important;
	height:auto !important;
	}
	
	#colorbox {
	left:25% !important;
	width:50% !important;
	height:100% !important;
	top:25% !important;
	}
	
}

@media screen and (max-width: 750px){

	#cboxOverlay, #colorbox {
	display:none !important;
	}
	
}












/* SINGLE COLUMN FOR SMALL TABLETS - THIS IS ONLY USED FOR IE7 AND IE8. THE CLASS IS SET WITH JAVASCRIPT FOR IE ONLY
----------------------------------------------------------- */

@media screen and (max-width: 750px){
	
	.s5_ie_single_column #s5_right_column_wrap_inner .s5_float_left, .s5_ie_single_column #s5_left_column_wrap_inner .s5_float_left {
	float:none  !important;
	}

	.s5_ie_single_column #s5_columns_wrap_inner {
	width:100%  !important;
	}

	.s5_ie_single_column #s5_center_column_wrap {
	width:100%  !important;
	left:100%  !important;
	}

	.s5_ie_single_column #s5_left_column_wrap {
	left:0%  !important;
	}
	
	.s5_ie_single_column #s5_left_top_wrap, .s5_ie_single_column #s5_left_column_wrap, .s5_ie_single_column #s5_left_inset_wrap, .s5_ie_single_column #s5_left_wrap, .s5_ie_single_column #s5_left_bottom_wrap, .s5_ie_single_column #s5_right_top_wrap, .s5_ie_single_column #s5_right_column_wrap, .s5_ie_single_column #s5_right_inset_wrap, .s5_ie_single_column #s5_right_wrap, .s5_ie_single_column #s5_right_bottom_wrap {
	width:100% !important;
	}
	
	.s5_ie_single_column #s5_center_column_wrap_inner {
	margin:0px !important;
	}
	
	.s5_ie_single_column #s5_left_column_wrap {
	margin-right:0px !important;
	}
	
	.s5_ie_single_column #s5_right_column_wrap {
	margin-left:0px !important;
	}
	
	.s5_ie_single_column  .items-row .item {
	width:100% !important;
	padding-left:0px !important;
	padding-right:0px !important;
	margin-right:0px !important;
	margin-left:0px !important;
	}

}